<app-simulator-setup-header></app-simulator-setup-header>
<div class="content-container">
  <md-card>
    <div class="setup-input-title">
      <span>Attribute List Input</span>
      <span class="setup-input-title-spacer"></span>
      <md-icon>help</md-icon>
    </div>
    <md-input-container class="setup-input mat-focused">
      <textarea mdInput [(ngModel)]="attributeInput" (ngModelChange)="processAttributeInput($event)"></textarea>
    </md-input-container>
  </md-card>
  <md-card>
    <div class="setup-input-title">
      <span>Attribute List Output</span>
    </div>
    <div class="setup-attribute-container">
      <div class="setup-output-nodata" *ngIf="attributeOutput.length < 1">No data has been input yet.</div>
      <div class="setup-attribute" *ngFor="let attribute of attributeOutput">
        <div class="setup-attribute-name" [ngClass]="{'setup-attribute-name-respondent-filter': attribute.type == 'Respondent Filter', 'setup-attribute-name-product-filter': attribute.type == 'Product Filter'}">{{ attribute.name }}</div>
        <div class="setup-attribute-type">{{ attribute.type }}</div>
        <div  class="setup-attribute-level-container">
          <div class="setup-attribute-level" *ngFor="let level of attribute.levels">{{ level }}</div>
        </div>
      </div>
    </div>
  </md-card>
</div>
