<md-toolbar color="accent" class="md-toolbar-small">
  <button md-button [mdMenuTriggerFor]="simulatorMenu">Simulator</button>
  <md-menu #simulatorMenu="mdMenu" [overlapTrigger]="false">
    <button md-menu-item><md-icon>insert_drive_file</md-icon> New Simulator</button>
    <button md-menu-item><md-icon>person_add</md-icon> Share Simulator</button>
    <hr>
    <button md-menu-item><md-icon>exit_to_app</md-icon> Exit</button>
  </md-menu>
  <button md-button [mdMenuTriggerFor]="settingsMenu">Settings</button>
  <md-menu #settingsMenu="mdMenu" [overlapTrigger]="false">
    <button md-menu-item><md-icon>description</md-icon> Project Details</button>
    <button md-menu-item><md-icon>settings_applications</md-icon> Calculation Settings</button>
    <hr>
    <button md-menu-item><md-icon>view_module</md-icon> Module Settings</button>
  </md-menu>
  <button md-button [mdMenuTriggerFor]="exportMenu">Export</button>
  <md-menu #exportMenu="mdMenu" [overlapTrigger]="false">
    <button md-menu-item><md-icon>archive</md-icon> Shares</button>
    <hr>
    <button md-menu-item><md-icon>archive</md-icon> Attribute Data</button>
    <button md-menu-item><md-icon>archive</md-icon> Respondent Data</button>
    <button md-menu-item><md-icon>archive</md-icon> Product Data</button>
  </md-menu>
  <button md-button [mdMenuTriggerFor]="helpMenu">Help</button>
  <md-menu #helpMenu="mdMenu" [overlapTrigger]="false">
    <button md-menu-item><md-icon>help</md-icon> Manual</button>
  </md-menu>
  <span class="md-toolbar-spacer"></span>
  <span>
    <button md-mini-fab><md-icon>check</md-icon></button>
    <button md-mini-fab><md-icon>vertical_align_bottom</md-icon></button>
    <button md-mini-fab><md-icon>filter_list</md-icon></button>
    <button md-mini-fab><md-icon>add</md-icon></button>
    <button md-mini-fab><md-icon>swap_vert</md-icon></button>
    <button md-mini-fab><md-icon>list</md-icon></button>
    <button md-mini-fab><md-icon>help</md-icon></button>
  </span>
</md-toolbar>
<div class="content-container">
  <div class="dashboard-data-table-container">
    <div class="dashboard-data-table">
      <div class="dashboard-data-table-header">
        <div class="dashboard-data-table-cell">
          #
        </div>
        <div class="dashboard-data-table-cell">
          <span class="dashboard-data-table-cell-spacer">Shares</span>
          <span><md-spinner *ngIf="!dataReady"></md-spinner></span>
        </div>
      </div>
      <div class="dashboard-data-table-row" *ngFor="let share of shares; let y = index">
        <div class="dashboard-data-table-cell">
          Sku {{ y+1 }}
        </div>
        <div class="dashboard-data-table-cell dashboard-data-table-cell-faded" [ngClass]="{'dashboard-data-table-cell-faded': !dataReady}">
          {{ share ? share.toFixed(2) + "%" : "..." }}
        </div>
      </div>
    </div>
    <div class="dashboard-data-table-spacer"></div>
    <div class="dashboard-data-table">
      <div class="dashboard-data-table-header">
        <div class="dashboard-data-table-cell" *ngFor="let attribute of attributes.attributeList">
          {{ attribute.name }}
        </div>
      </div>
      <div class="dashboard-data-table-row" *ngFor="let product of products; let y = index">
        <div class="dashboard-data-table-cell" *ngFor="let data of product.attributeData; let x = index; trackBy: trackByFn">
          <input [(ngModel)]="products[y].attributeData[x]" type="text" (ngModelChange)="calculateShares($event)" *ngIf="attributes.attributeList[x].type == 'Interpolation'" />
          <select [(ngModel)]="products[y].attributeData[x]" (ngModelChange)="calculateShares($event)" *ngIf="attributes.attributeList[x].type == 'Category'">
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
