<md-toolbar color="accent" class="md-toolbar-small">
  <span class="md-toolbar-spacer"></span>
  <span>
    <button md-mini-fab><md-icon>check</md-icon></button>
    <button md-mini-fab><md-icon>vertical_align_bottom</md-icon></button>
    <button md-mini-fab><md-icon>filter_list</md-icon></button>
    <button md-mini-fab><md-icon>add</md-icon></button>
    <button md-mini-fab><md-icon>swap_vert</md-icon></button>
    <button md-mini-fab><md-icon>list</md-icon></button>
    <button md-mini-fab><md-icon>help</md-icon></button>
  </span>
</md-toolbar>
<div class="content-container">
  <div class="dashboard-data-table-container">
    <div class="dashboard-data-table">
      <div class="dashboard-data-table-header">
        <div class="dashboard-data-table-cell">
          #
        </div>
        <div class="dashboard-data-table-cell">
          <span class="dashboard-data-table-cell-spacer">Shares</span>
          <span><md-spinner *ngIf="!dataReady"></md-spinner></span>
        </div>
      </div>
      <div class="dashboard-data-table-row" *ngFor="let share of shares; let y = index">
        <div class="dashboard-data-table-cell">
          Sku {{ y+1 }}
        </div>
        <div class="dashboard-data-table-cell dashboard-data-table-cell-faded" [ngClass]="{'dashboard-data-table-cell-faded': !dataReady}">
          {{ share ? share.toFixed(2) + "%" : "..." }}
        </div>
      </div>
    </div>
    <div class="dashboard-data-table-spacer"></div>
    <div class="dashboard-data-table">
      <div class="dashboard-data-table-header">
        <div class="dashboard-data-table-cell" *ngFor="let attribute of attributes.attributeList">
          {{ attribute.name }}
        </div>
      </div>
      <div class="dashboard-data-table-row" *ngFor="let product of products; let y = index">
        <div class="dashboard-data-table-cell" *ngFor="let data of product.attributeData; let x = index; trackBy: trackByFn">
          <input [(ngModel)]="products[y].attributeData[x]" type="text" (ngModelChange)="calculateShares($event)" *ngIf="attributes.attributeList[x].type == 'Interpolation'" />
          <select [(ngModel)]="products[y].attributeData[x]" (ngModelChange)="calculateShares($event)" *ngIf="attributes.attributeList[x].type == 'Category'">
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
