/* Remove browsers default body margin */
body {
    margin: 0 !important;
}

/* Icon colour styles */
.md-icon-error {
    color: #cc1818;
}

.md-icon-success {
    color: #1c7d3e;
}

.md-icon-warning {
    color: #ef7b26;
}

/* top-level content container */
.content-container {
    padding: 24px;
}

/* Our custom smaller toolbar */
.md-toolbar-small {
    min-height: 36px !important;
    font-size: 20px !important;
    background-color: #2f8fa2 !important;
}
.md-toolbar-small .mat-toolbar-row {
    height: 36px !important;
}

/* Style menu buttons on our custom toolbar */
.md-toolbar-small .mat-button {
    background-color: rgb(63, 152, 169) !important;
    margin-right: 8px;
}
.mat-menu-item {
    padding: 0px 24px !important;
}
hr {
    border: 0;
    border-bottom: 1px solid #d4d4d4;
}

/* Helper classes for toolbar positioning and styling */
.md-toolbar-spacer {
    display: flex;
    flex-grow: 1;
}
.md-toolbar-logo > img {
    height: 36px;
    margin-top: 8px;
}
.md-toolbar-slogan {
    margin-left: 24px;
    font-size: 16px;
}

/* Our custom table styles */
.dashboard-data-table {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    flex-grow: 1;
    flex-basis: 0;
}
.dashboard-data-table-container {
    display: flex;
}
.dashboard-data-table-row {
    display: flex;
}
.dashboard-data-table-cell {
    flex-grow: 1;
    flex-basis: 0;
    height: 16px;
}
.dashboard-data-table-header {
    display: flex;
}
.dashboard-data-table-header > .dashboard-data-table-cell {
    font-weight: 500;
    padding: 6px 10px;
    display: flex;
}
.dashboard-data-table-row > .dashboard-data-table-cell {
    padding: 6px 10px;
    border-bottom: 1px solid #dcdcdc;
}
.dashboard-data-table-header > .dashboard-data-table-cell:nth-child(odd) {
    background-color: #1c6d7d;
    color: white;
}
.dashboard-data-table-header > .dashboard-data-table-cell:nth-child(even) {
    background-color: #2f8fa2;
    color: white;
}
.dashboard-data-table-row:nth-child(even) > .dashboard-data-table-cell:nth-child(even) {
  background-color: hsl(0, 0%, 100%);
  color: #424242;
}
.dashboard-data-table-row:nth-child(even) > .dashboard-data-table-cell:nth-child(odd) {
  background-color: hsl(0, 0%, 96%);
  color: #444444;
}
.dashboard-data-table-row:nth-child(odd) > .dashboard-data-table-cell:nth-child(odd) {
    background-color: hsl(0, 0%, 93%);
    color: #444444;
}
.dashboard-data-table-row:nth-child(odd) > .dashboard-data-table-cell:nth-child(even) {
    background-color: hsl(0, 0%, 97%);
    color: #424242;
}
.dashboard-data-table-spacer {
    min-width: 24px;
}

/* Custom style our input boxes in our tables */
.dashboard-data-table-cell input {
    border: 0px;
    top: -6px;
    left: -10px;
    padding: 6px 10px;
    position: relative;
    width: 100%;
    height: 100%;
}
.dashboard-data-table-cell input:focus {
    outline: 0;
    z-index: 1 !important;
    background-color: #ef7b26 !important;
    color: white !important;
    font-weight: bold;
}
.dashboard-data-table-cell select {
    border: 0px;
    top: -6px;
    left: -10px;
    padding: 5px 10px;
    position: relative;
    width: calc(100% + 20px);
    height: 28px;
}
.dashboard-data-table-cell select:focus {
    outline: 0;
    z-index: 1 !important;
    background-color: #ef7b26 !important;
    color: white !important;
    font-weight: bold;
}

/* Style our table back grounds colours for input */
.dashboard-data-table-row:nth-child(even) > .dashboard-data-table-cell:nth-child(even) input {
  background-color: hsl(0, 0%, 100%);
  color: #444444;
}
.dashboard-data-table-row:nth-child(even) > .dashboard-data-table-cell:nth-child(odd) input {
  background-color: hsl(0, 0%, 96%);
  color: #424242;
}
.dashboard-data-table-row:nth-child(odd) > .dashboard-data-table-cell:nth-child(odd) input {
  background-color: hsl(0, 0%, 93%);
  color: #444444;
}
.dashboard-data-table-row:nth-child(odd) > .dashboard-data-table-cell:nth-child(even) input {
  background-color: hsl(0, 0%, 97%);
  color: #424242;
}

.dashboard-data-table-row:nth-child(even) > .dashboard-data-table-cell:nth-child(even) select {
  background-color: hsl(0, 0%, 100%);
  color: #444444;
}
.dashboard-data-table-row:nth-child(even) > .dashboard-data-table-cell:nth-child(odd) select {
  background-color: hsl(0, 0%, 96%);
  color: #424242;
}
.dashboard-data-table-row:nth-child(odd) > .dashboard-data-table-cell:nth-child(odd) select {
  background-color: hsl(0, 0%, 93%);
  color: #444444;
}
.dashboard-data-table-row:nth-child(odd) > .dashboard-data-table-cell:nth-child(even) select {
  background-color: hsl(0, 0%, 97%);
  color: #424242;
}


.dashboard-data-table-cell-spacer {
    flex-basis: 0;
    flex-grow: 1;
}
.dashboard-data-table-cell-faded {
    color: #bfbfbf !important;
}

/* Style the md-spinner so we can use it in table header to display loading data */
.dashboard-data-table-cell md-spinner {
    height: 16px !important;
    width: 16px !important;
    display: inline-block;
}
.mat-progress-spinner path, .mat-spinner path {
  stroke: #fff !important;
}


/* Setup page styles */
.setup-input textarea {
    height: 200px;
    background-color: #fafafa;
    padding: 8px;
    width: calc(100% - 16px);
}
.setup-input {
    width: 100%;
    font-family: monospace;
}
.setup-input-title {
    display: flex;
    border-bottom: 1px solid #dadada;
    font-size: 16px;
    padding: 0px 0px 5px 5px;
}
.setup-input-title md-icon {
  font-size: 16px;
  top: 2px;
  position: relative;
  color: #585858;
}
.setup-input-title-spacer {
    flex-basis: 0;
    flex-grow: 1;
}
.setup-attribute-container {
    display: flex;
}
.setup-attribute {
    margin: 20px 8px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.setup-attribute-name {
    background-color: #1c6d7d;
    color: white;
    padding: 8px 16px;
    text-align: center;
}
.setup-attribute-level {
    padding: 10px 21px;
    border-bottom: 1px solid #dadada;
    text-align: center;
}
.setup-attribute-name-product-filter {
    background-color: #f56731;
}
.setup-attribute-name-respondent-filter {
    background-color: #ef7b26;
}
.setup-attribute-type {
    padding: 2px 15px;
    background-color: #d6d6d6;
    font-size: 12px;
    text-align: center;
}
.setup-attribute-level-container {
    max-height: 400px;
    overflow-y: auto;
}
.setup-output-nodata {
    width: 100%;
    padding: 26px;
    color: #cac8c8;
}
.setup-subheader-spacer {
    flex-basis: 0;
    flex-grow: 1;
}
.setup-subheader {
    display: flex;
}
.setup-subheader md-icon {
    margin-top: 7px;
    font-size: 14px;
    margin-left: -4px;
}
.setup-info {
    padding: 12px;
    border: 1px solid rgb(244, 180, 91);
    background-color: rgb(244, 195, 105);
    border-radius: 2px;
    margin-bottom: 20px;
    font-size:12px;
}
.setup-info-text {
    background-color: #ffcf77;
    margin-right: 8px;
    padding: 4px;
}
.setup-info-title {
    margin-bottom: 5px;
}
.setup-product-container tr:nth-child(even) td {
    background-color: rgb(247, 247, 247);
}
.setup-product-container td {
    padding: 2px 8px;
    border-bottom: 1px solid #dcdcdc;
    border-right: 2px solid #ffffff;
}
.setup-product-container table {
    width: 100%;
    border-spacing: 0;
}
.setup-product-container {
    margin-top: 16px;
    height: 500px;
    overflow: auto;
}
.setup-product-cell-center {
    text-align: center;
}
.setup-product-property {
    background-color: hsla(190, 63%, 26%, 1);
    color: white;
}
